body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  [href] {
    background: #84e;
  }

  #event-create-container {
    background-color: #fcf8f8;
    padding: 20px;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="date"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  input[type="file"] {
    margin-top: 10px;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0069d9;
  }
  
  .checkbox-group {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .checkbox-group label {
    margin-left: 5px;
  }
  
  #menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  #menu a {
    color: #333;
    font-size: 18px;
    margin: 0 20px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  #menu a:hover {
    color: #f00;
  }

  .dashboard-container{
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .dashboard-container th {
    width: 25%;
  }